<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">
  <div class="modal" tabindex="-1" role="dialog" style="display:block;">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-body">
          
          <button (click)="cerrarModal1()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <section class="seccion-perfil-usuario">
            <div class="perfil-usuario-header">
              <div class="perfil-usuario-portada">
                  <div class="perfil-usuario-avatar">
                  <img *ngIf="usuario?.foto" src="http://localhost:8080/api/uploads/img/{{usuario.foto}}" alt="img-avatar">
                </div>
              </div>
            </div>
            
        
          <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
              <div class="perfil-usuario-footer">
                <ul *ngIf="usuario" class="lista-datos">
                    <li><i class="icono fas fa-user-shield">Nombre</i>{{usuario.nombre}} {{usuario.apellido}}</li>
                    <li><i class="icono fas fa-futbol">Equipo</i>{{usuario.equipo.nombre}}</li>
                    <li><i class="icono fas fa-phone-alt">Celular</i>{{usuario.telefono}}</li>
                    <li><i class="icono fas fa-tshirt">Dorsal</i>{{usuario.dorsal}}</li> 
                </ul>
                <div class="input-group mb-3" *ngIf="authService.hasRole('ROLE_ADMIN')">
                  <div class="custom-file">
                    <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                    <label class="custom-file-label" for="inputGroupFile04"></label>
                  </div>
                  <div class="input-group-append">
                    <button (click)="subirFoto()" [disabled]="!fotoSeleccionada" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Subir Foto</button>
                  </div>
                </div>

                <div *ngIf="progreso > 0" class="progress" style="height: 30px;">
                  <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width:progreso+'%'}" attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
                    {{progreso}}%
                  </div>
                </div>
              </div>
            </div>
          </div>
        
      </section>
  </div>
</div>
</div>
</div>
</div>
</div>
          
<!-- cambios -->

