<section class="form-register">
  <div class="card-body">
    <form #equipoForm="ngForm">

      <div class="alert alert-danger" *ngIf="nombre.invalid &&(nombre.dirty || nombre.touched)">
        <div *ngIf="nombre.errors.required">Debe ingresar el nombre del equipo</div>
      </div>
        <input class="controls" type="text" [(ngModel)]="equipo.nombre" name="nombre" required #nombre="ngModel" placeholder="Ingrese el nombre del Equipo">
    
          <div class="alert alert-danger" *ngIf="categoria.invalid &&(categoria.dirty || categoria.touched)">
            <div *ngIf="categoria.errors.required">Debe ingresar su categoría</div>
          </div>
          <input class="controls" type="text" [(ngModel)]="equipo.categoria" name="categoria" required #categoria="ngModel" placeholder="Ingrese la Categoría">  
          
          <div class="alert alert-danger" *ngIf="dirigente.invalid && (dirigente.dirty || dirigente.touched)">
            <div *ngIf="dirigente.errors.required">Debe ingresar el nombre del Dirigente</div>
          </div>
          <input class="controls" type="text" [(ngModel)]="equipo.dirigente" name="dirigente" required dirigente #dirigente="ngModel" placeholder="Ingrese el nombre del Dirigente">      
    
    
          
          <input matInput [matDatepicker]="picker" class="controls" [(ngModel)]="equipo.createAt" name="createAt" style="display:inline; width:300px" placeholder="Año de Fundación">   
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
  
    
        <button class="botons" role="button" (click)='create()' *ngIf="!equipo.id else elseBlock" [disabled]="!equipoForm.form.valid">Crear</button>
        <ng-template #elseBlock>
          <button class="botons" role="button" role="button" (click)='update()'[routerLink]="['/equipos']" [disabled]="!equipoForm.form.valid">Editar</button>
        </ng-template>
    </form>