$grid-brakpoints:(
    xs:0,
    sm:576px,
    md:768px,
    lg:992px,
    xl:1200px,
    xxl:1400px,
    xxxl:1600px
);

@mixin cols($bks, $cols, $prefix){
    @each $name, $bk in $bks{
      @media (min-width: $bk){
        @for $i from 1 to $cols + 1 {
          .#{$prefix}-#{$name}-#{$i}{
            width: (($i * 100) / $cols) * 1%;
          }
        }
      }
    }
}
::ng-deep{
  @include cols($grid-brakpoints,12 ,'col');
}

:host{
  padding: 16px;
}