  <section class="form-register">
      <form #usuarioForm="ngForm">
        <div class="alert alert-danger" *ngIf="nombre.invalid &&(nombre.dirty || nombre.touched)">
          <div *ngIf="nombre.errors.required">El usuario debe ingresar su nombre</div>
        </div>
          <input class="controls" type="text" [(ngModel)]="usuario.nombre" name="nombre" required #nombre="ngModel" placeholder="Ingrese su Nombre">
      
      
          <div class="alert alert-danger" *ngIf="apellido.invalid &&(apellido.dirty || apellido.touched)">
            <div *ngIf="apellido.errors.required">El usuario debe ingresar su apellido</div>
          </div>
          <input class="controls" type="text" [(ngModel)]="usuario.apellido" name="apellido" required #apellido="ngModel" placeholder="Ingrese su Apellido">      
      
      
            <div class="alert alert-danger" *ngIf="username.invalid && (username.dirty || username.touched)">
              <div *ngIf="username.errors.required">El usuario debe ingresar su usuario</div>
            </div>
            <input class="controls" type="text" [(ngModel)]="usuario.username" name="username" required #username="ngModel" placeholder="Ingrese su Usuario">      
      
      
            <div class="alert alert-danger" *ngIf="password.invalid &&(password.dirty || password.touched)">
              <div *ngIf="password.errors.required">El usuario debe ingresar una contraseña</div>
            </div>
            <input class="controls" type="password" [(ngModel)]="usuario.password" name="password" required #password="ngModel" placeholder="Ingrese su Contraseña">
      
            
            <div class="alert alert-danger" *ngIf="email.invalid &&(email.dirty || email.touched)">
              <div *ngIf="email.errors.required">El usuario debe ingresar su correo electrónico</div>
            </div>
            <input class="controls" type="email" [(ngModel)]="usuario.email" name="email" required #email="ngModel" placeholder="Ingrese su Correo">
            
            <div class="alert alert-danger" *ngIf="telefono.invalid &&(telefono.dirty || telefono.touched)">
              <div *ngIf="telefono.errors.required">El usuario debe ingresar su teleono</div>
            </div>
            <input class="controls" type="text" [(ngModel)]="usuario.telefono" name="telefono" required #telefono="ngModel" placeholder="Ingrese su Telefono">      
        
            <div class="alert alert-danger" *ngIf="dorsal.invalid &&(dorsal.dirty || dorsal.touched)">
              <div *ngIf="dorsal.errors.required">El usuario debe ingresar su dorsal</div>
            </div>
            <input class="controls" type="text" [(ngModel)]="usuario.dorsal" name="dorsal" required #dorsal="ngModel" placeholder="Ingrese la Dorsal">      
        
            <div class="alert alert-danger" *ngIf="dni.invalid &&(dni.dirty || dni.touched)">
              <div *ngIf="dni.errors.required">El usuario debe ingresar su número de cédula</div>
            </div>
            <input class="controls" type="text" [(ngModel)]="usuario.dni" name="dni" required #dni="ngModel" placeholder="Ingrese su número de Cédula">
      
            <input matInput [matDatepicker]="picker" class="controls" [(ngModel)]="usuario.createAt" name="createAt" style="display:inline; width:300px" placeholder="Ingrese su fecha de Nacimiento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>  
    
              
            <select [compareWith]="compararEquipo" class="controls" [(ngModel)]="usuario.equipo" name="equipo">
            <option [ngValue]="undefined">--- Seleccione un Equipo ---</option>
            <option *ngFor="let equipo of equipos" [ngValue]="equipo">{{equipo.nombre}}</option>
            </select>
      
      
          <button class="botons" role="button" (click)='create()' [routerLink]="['/usuario']" *ngIf="!usuario.id else elseBlock" [disabled]="!usuarioForm.form.valid">Crear</button>
          <ng-template #elseBlock>
            <button class="botons" role="button" (click)='update()'[routerLink]="['/usuario']" [disabled]="!usuarioForm.form.valid">Actualizar</button>
          </ng-template>
      </form>
    </section>
